<form id="searchform">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label 
                    :for="`${fields.journey_type.id}-select`" 
                    :id="fields.journey_type.id"
                >{{fields.journey_type.label}}</label>
                <b-form-select 
                    v-model="fields.journey_type.selected" 
                    :options="fields.journey_type.options"
                    :id="`${fields.journey_type.id}-select`"
                ></b-form-select>
            </div>
        </div>

        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col">
            <biq-places-lookup 
                ref="pickupfield"
                key="pickup"
                v-model="fields.pickup.value"
                :api-places-lookup="apiPlacesLookup"
                :required="fields.pickup.required"
                :error-state="fields.pickup.error"
                :id="fields.pickup.id"
                :label="fields.pickup.label"
                :placeholder="fields.pickup.placeholder"
                :debugging="debugging"
                @biqPlacesLookupError="onPlacesLookupError"
            ></biq-places-lookup>
        </div>

        <div class="col">
            <biq-places-lookup 
                ref="destinationfield"
                key="destination"
                v-model="fields.destination.value"
                :api-places-lookup="apiPlacesLookup"
                :required="fields.destination.required"
                :error-state="fields.destination.error"
                :id="fields.destination.id"
                :label="fields.destination.label"
                :placeholder="fields.destination.placeholder"
                :debugging="debugging"
                @biqPlacesLookupError="onPlacesLookupError"
            ></biq-places-lookup>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <biq-places-lookup 
                ref="viafield"
                key="via"
                v-model="fields.via.value"
                :api-places-lookup="apiPlacesLookup"
                :required="fields.via.required"
                :error-state="fields.via.error"
                :id="fields.via.id"
                :label="fields.via.label"
                :placeholder="fields.via.placeholder"
                :debugging="debugging"
                @biqPlacesLookupError="onPlacesLookupError"
            ></biq-places-lookup>
        </div>

        <div class="col">
            <div class="form-group">
                <label 
                    :for="`${fields.people.id}-input`" 
                    :id="fields.people.id"
                >{{fields.people.label}}</label>
                <input 
                    v-model="fields.people.value" 
                    :id="`${fields.people.id}-input`"
                    :placeholder="fields.people.placeholder" 
                    :required="fields.people.required"
                    :class="errorStateClass('people')" 
                    type="number" 
                    min="1"
                    max="99"
                    class="form-control" 
                ></input>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div 
                id="tcplugin-date" 
                class="form-group"
            >
                <label>Date</label>
                <b-form-datepicker 
                    v-model="date" 
                    :state="errors.date" 
                    locale="en" 
                    class="form-control"
                ></b-form-datepicker>
            </div>
        </div>

        <div class="col">
            <div 
                id="tcplugin-time" 
                class="form-group"
            >
                <label>Time</label>
                <b-form-timepicker 
                    v-model="time" 
                    :state="errors.time" 
                    locale="en"
                ></b-form-timepicker>
            </div>
        </div>
    </div>

    <div v-if="hasReturn"
        class="row"
    >
        <div class="col">
            <div 
                id="tcplugin-return-date" 
                class="form-group"
            >
                <label>Return Date</label>
                <b-form-datepicker 
                    v-model="return_date" 
                    :state="errors.return_date" 
                    locale="en" 
                    class="form-control"
                ></b-form-datepicker>
            </div>
        </div>

        <div class="col">
            <div 
                id="tcplugin-return-time" 
                class="form-group"
            >
                <label>Return Time</label>
                <b-form-timepicker 
                    v-model="return_time" 
                    :state="errors.return_time" 
                    locale="en"
                ></b-form-timepicker>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col"></div>

        <div 
            id="tcplugin-search-submit" 
            class="col"
        >
            <div class="form-group">
                <biq-process-form-submit 
                    :processing="loadingQuotes"
                    :use-buttons="useButtons"
                    @click="onSearchQuotesFormSubmit"
                    label="Search"
                ></biq-process-form-submit>
            </div>
        </div>
    </div>
</form>
