<div>
    <form id="purchaseform" @submit.prevent="onSubmit">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="customer_name">Name</label>
                    <input v-model="name" type="text" class="form-control" id="customer_name" aria-describedby="nameHelp" placeholder="Enter name">
                    <small id="nameHelp" class="form-text text-muted">The name of the person travelling,</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="customer_email">Email</label>
                    <input v-model="email" type="email" class="form-control" id="customer_email" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="telephone">Mobile telephone</label>
                    <input v-model="telephone" type="text" class="form-control" id="telephone" aria-describedby="mobileHelp" placeholder="Enter mobile #">
                    <small id="mobileHelp" class="form-text text-muted">Valid UK mobile numbers only, please</small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="flight_number">Flight #</label>
                    <input v-model="flight_number" type="email" class="form-control" id="flight_number" aria-describedby="flightHelp" placeholder="Enter name">
                    <small id="flightHelp" class="form-text text-muted">If this is an airport pickup or dropoff, the relevent flight number</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="card-holder-name" class="control-label">Cardholder Name</label>
                    <input id="card-holder-name" class="form-control" type="text" v-model="name">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="card" class="control-label">Card Details</label>
                    <div id="card" ref="card" class="form-control"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Booking Details
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Date:</strong> {{journey_data.date}} at {{journey_data.time}}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Travelling From:</strong> {{journey_data.pickup}}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Going To:</strong> {{journey_data.destination}}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" v-if="journey_data.via">
                            <strong>Via:</strong> {{journey_data.vias[0].string}}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center" v-if="journey_data.return">
                            <strong>Returning:</strong> {{journey_data.return}} at {{journey_data.return_time}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Book Now">
                </div>
            </div>
        </div>
    </form>
</div>
