<div>
    <form id="searchform">
        <div class="row">
            <div class="col-6" id="tcplugin-journey-type">
                <div class="form-group">
                    <label>Journey type</label>
                    <b-form-select v-model="journey_type" :options="journey_options"></b-form-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group" id="tcplugin-pickup">
                    <label>Pickup</label>
                    <vue-bootstrap-typeahead
                            v-model="pickup"
                            :inputClass="errors.pickup? 'is-invalid' : ''"
                            :data="pickuplocations"
                            :serializer="item => item.string"
                            @hit="selectedLocation = $event"
                            placeholder="Pickup postcode or place name"
                    >
                        <template slot="suggestion" slot-scope="{ data, htmlText }">
                            <div class="d-flex align-items-center">
                                <span v-if="data.type=='station'"><font-awesome-icon icon="train" /></span>
                                <span v-else-if="data.type=='airport'"><font-awesome-icon icon="plane" /></span>
                                <span v-else><font-awesome-icon icon="map-marker-alt" /></span>
                                <span class="ml-4" v-html="htmlText"></span>
                            </div>
                        </template>
                    </vue-bootstrap-typeahead>
                </div>
            </div>
            <div class="col">
                <div class="form-group" id="tcplugin-destination">
                    <label>Destination</label>
                    <vue-bootstrap-typeahead
                            v-model="destination"
                            :inputClass="errors.destination? 'is-invalid' : ''"
                            :data="destinationlocations"
                            :serializer="item => item.string"
                            @hit="selectedLocation = $event"
                            placeholder="Destination postcode or place name"
                    >
                        <template slot="suggestion" slot-scope="{ data, htmlText }">
                            <div class="d-flex align-items-center">
                                <span v-if="data.type=='station'"><font-awesome-icon icon="train" /></span>
                                <span v-else-if="data.type=='airport'"><font-awesome-icon icon="plane" /></span>
                                <span v-else><font-awesome-icon icon="map-marker-alt" /></span>
                                <span class="ml-4" v-html="htmlText"></span>
                            </div>
                        </template>
                    </vue-bootstrap-typeahead>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col" id="tcplugin-via">
                <label>(Optional) Via</label>
                <vue-bootstrap-typeahead
                        v-model="via"
                        :inputClass="errors.via? 'is-invalid' : ''"
                        :data="vialocations"
                        :serializer="item => item.string"
                        @hit="selectedLocation = $event"
                        placeholder="Via postcode or place name"
                >
                    <template slot="suggestion" slot-scope="{ data, htmlText }">
                        <div class="d-flex align-items-center">
                            <span v-if="data.type=='station'"><font-awesome-icon icon="train" /></span>
                            <span v-else-if="data.type=='airport'"><font-awesome-icon icon="plane" /></span>
                            <span v-else><font-awesome-icon icon="map-marker-alt" /></span>
                            <span class="ml-4" v-html="htmlText"></span>
                        </div>
                    </template>
                </vue-bootstrap-typeahead>
            </div>
            <div class="col" id="tcplugin-people">
                <div class="form-group">
                    <label>Number of People</label>
                    <input type="number" class="form-control" :class=" errors.people ? 'is-invalid' : ''" placeholder="People" v-model="people">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group" id="tcplugin-date">
                    <label>Date</label>
                    <b-form-datepicker locale="en" class="form-control" :state="errors.date"  v-model="date"></b-form-datepicker>
                </div>
            </div>
            <div class="col">
                <div class="form-group" id="tcplugin-time">
                    <label>Time</label>
                    <b-form-timepicker locale="en" v-model="time" :state="errors.time"></b-form-timepicker>
                </div>
            </div>
        </div>
        <div class="row" v-if="journey_type=='Return'">
            <div class="col" id="tcplugin-return-date">
                <div class="form-group">
                    <label>Return Date</label>
                    <b-form-datepicker locale="en" class="form-control" :state="errors.return_date"  v-model="return_date"></b-form-datepicker>
                </div>
            </div>
            <div class="col">
                <div class="form-group" id="tcplugin-return-time">
                    <label>Return Time</label>
                    <b-form-timepicker locale="en" v-model="return_time" :state="errors.return_time"></b-form-timepicker>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col" id="tcplugin-search-submit">
                <div class="form-group">
                    <label></label>
                    <input type="button" class="form-control" value="Search" @click="submitForm">
                </div>
            </div>
        </div>
    </form>
    <div id="results">
        <div v-if="loading">
            Loading...
        </div>
        <div v-if="noquotes">
            Sorry, we could not find any quotes for the selected journey.  Please try a different journey.
        </div>

        <div class="row">
            <div v-for="(quote,id) in quotes" class="col-sm-auto">
                <div v-if="quote_settings=='best'">
                    <div class="card" style="width: 18rem;" v-if="quote.highlight">
                        <img class="card-img-top" :src="quote.vehicles[0].image" alt="Vehicle type image" :ref="id">
                        <div class="card-header">
                            {{quote.highlight}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{quote.company_name}}</h5>
                            <p class="card-text text-center display-4" id="selected_price" :ref="id">&pound;{{quote.vehicles[0].price}}.00</p>
                            <select class="custom-select" @change="flipImage(id,$event)">
                                <option
                                        v-for="(vehicle,id) in quote.vehicles"
                                        v-model="quote.selected_vehicle"
                                        :value="id"
                                        :data-image="vehicle.image"
                                        :data-price="vehicle.price"
                                >
                                    {{vehicle.name}}
                                </option>
                            </select>
                            <router-link :data-price="quote.vehicles[0].price" :ref="id" :to="{ name: 'Checkout', params: { quote_id: id, journey_id: journey_id} }" class="btn btn-primary btn-block" @click.native="setPriceBeforeTransition(id,$event)">Book Now</router-link>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;" v-else>
                    <img class="card-img-top" :src="quote.vehicles[0].image" alt="Vehicle type image" :ref="id">
                    <div class="card-body">
                        <h5 class="card-title">{{quote.company_name}}</h5>
                        <p class="card-text text-center display-4" id="selected_price" :ref="id">&pound;{{quote.vehicles[0].price}}.00</p>
                        <select class="custom-select" @change="flipImage(id,$event)">
                            <option
                                    v-for="(vehicle,id) in quote.vehicles"
                                    v-model="quote.selected_vehicle"
                                    :value="id"
                                    :data-image="vehicle.image"
                                    :data-price="vehicle.price"
                            >
                                {{vehicle.name}}
                            </option>
                        </select>
                        <router-link :data-price="quote.vehicles[0].price" :ref="id" :to="{ name: 'Checkout', params: { quote_id: id, journey_id: journey_id} }" class="btn btn-primary btn-block" @click.native="setPriceBeforeTransition(id,$event)">Book Now</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
