<div>
    <form id="purchaseform">

        <div class="row">
            <div class="col">
                <h4 id="tc_plugin-passenger-heading">Passenger Details</h4>
            </div>
        </div>
        <div class="row">
            <div id="tcplugin-passenger-name" class="col">
                <div class="form-group">
                    <label for="customer_name">Name</label>
                    <input v-model="name" :class="errors.name ? 'is-invalid' : ''" id="customer_name" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter your name" required>
                    <small id="nameHelp" class="form-text text-muted">The name of the person travelling,</small>
                </div>
            </div>
            <div class="col">
                <div id="tcplugin-email" class="form-group">
                    <label for="customer_email">Email</label>
                    <input v-model="email" :class="errors.email ? 'is-invalid' : ''" id="customer_email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter your email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="tcplugin-passenger-telephone" class="col">
                <div class="form-group">
                    <label for="telephone">Mobile telephone</label>
                    <input v-model="telephone" :class="errors.telephone ? 'is-invalid' : ''" id="telephone" type="text" class="form-control" aria-describedby="mobileHelp" placeholder="Enter a mobile number" required>
                    <small id="mobileHelp" class="form-text text-muted">Valid UK mobile numbers only, please</small>
                </div>
            </div>
            <div class="col">
                <div id="tcplugin-flight-number" class="form-group">
                    <label for="flight_number">Flight #</label>
                    <input v-model="flight_number" id="flight_number" type="text" class="form-control" aria-describedby="flightHelp" placeholder="Enter your flight number">
                    <small id="flightHelp" class="form-text text-muted">If this is an airport pickup or dropoff, the relevent flight number</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4 id="tc_plugin-payment-heading">Payment Details</h4>
            </div>
        </div>
        <div class="row">
            <div id="tcplugin-payament-select" class="col">
                Select Payment Method:
            </div>
            <div class="col">
                <b-form-select 
                    v-model="payment_method" 
                    :options="payment_options" 
                    @change="onMethodChanged"
                ></b-form-select>
            </div>
        </div>
        
        <div v-if="payment_method=='Pay with Card'">
            <div class="row">
                <div id="tcplugin-cardholder-details" class="col">
                    <div class="form-group">
                        <label for="card-holder-name" class="control-label">Cardholder Name</label>
                        <input v-model="cardholder_name" :class="errors.cardholder_name ? 'is-invalid' : ''" id="card-holder-name" class="form-control" type="text" placeholder="Cardholder name">
                    </div>
                    <div class="form-group">
                        <label for="billing-postcode" class="control-label">Billing Postcode</label>
                        <input v-model="billing_postcode" :class="errors.billing_postcode ? 'is-invalid' : ''" id="billing-postcode" class="form-control" type="text" placeholder="Billing Postcode">
                    </div>
                </div>
                <div id="tcplugin-stripe-card-details" class="col">
                    <div class="form-group">
                        <label for="card" class="control-label">Card Details</label>
                        <div 
                            ref="card" 
                            id="card" 
                            class="form-control stripe-card-container"
                        ></div>
                    </div>
                    <div class="form-group">
                        <button v-if="appConfig.useButtons"
                            @click="onStripeSubmit"
                            class="form-control btn btn-primary"
                            :disabled="loading == 1" 
                        >
                            <div v-if="loading" 
                                class="spinner-border spinner-border-sm"
                            ></div>
                            {{loading==0 ? 'Book Now' : 'Processing'}}
                        </button>

                        <input v-else 
                            @click="onStripeSubmit" 
                            :value="loading==0 ? 'Book Now' : 'Processing'" 
                            :disabled="loading == 1" 
                            type="button" 
                            class="btn btn-primary"
                        >
                    </div>
                </div>
            </div>
        </div>
        
        <div v-else 
            class="row"
        >
            <div class="col"></div>
            <div id="tcplugin-paypal-plugin" class="col">
                <div class="form-group">
                    <label for="paypal" class="control-label">Or Pay With Paypal</label>
                    <v-braintree
                        :authorization="paypal_client_token"
                        :paypal="{
                                flow:'checkout',
                                amount: price,
                                currency: 'GBP'
                            }"
                        @success="onPaypalSubmit"
                        @error="onPaypalError"
                        @loadFail="onPaypalLoadFail"
                    >
                        <template v-slot:button="slotProps">
                            <div class="form-group">
                                <button v-if="appConfig.useButtons"
                                    @click="slotProps.submit"
                                    class="form-control btn btn-primary"
                                    :disabled="loading == 1" 
                                >
                                    <div v-if="loading" 
                                        class="spinner-border spinner-border-sm"
                                    ></div>
                                    {{loading==0 ? 'Book Now' : 'Processing'}}
                                </button>

                                <input v-else 
                                    @click="slotProps.submit" 
                                    :value="loading==0 ? 'Book Now' : 'Processing'" 
                                    :disabled="loading == 1" 
                                    type="button" 
                                    class="btn btn-primary"
                                >
                            </div>
                        </template>
                    </v-braintree>
                </div>
            </div>
        </div>
        
        <div v-if="posterror" 
            class="row"
        >
            <div id="tcplugin-payment-error" class="col">
                {{posterror}}
            </div>
        </div>
        
        <div class="row">
            <BIQ-JourneyDetails></BIQ-JourneyDetails>
        </div>
    </form>
</div>
