<div>
    <form 
        id="searchform"
    >
        <div class="row">
            <div 
                id="tcplugin-journey-type" 
                class="col-6"
            >
                <div class="form-group">
                    <label>Journey type</label>
                    <b-form-select 
                        v-model="journey_type" 
                        :options="journey_options"
                    ></b-form-select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div 
                    id="tcplugin-pickup" 
                    class="form-group"
                >
                    <label>Pickup</label>
                    <vue-bootstrap-typeahead
                        v-model="pickup"
                        :inputClass="errors.pickup? 'is-invalid' : ''"
                        :data="pickuplocations"
                        :serializer="item => item.string"
                        @hit="selectedLocation = $event"
                        placeholder="Pickup postcode or place name"
                        ref="pickupfield"
                    >
                        <template 
                            slot="suggestion" 
                            slot-scope="{ data, htmlText }"
                        >
                            <div class="d-flex align-items-center">
                                <span v-if="data.type=='station'"><font-awesome-icon icon="train" /></span>
                                <span v-else-if="data.type=='airport'"><font-awesome-icon icon="plane" /></span>
                                <span v-else><font-awesome-icon icon="map-marker-alt" /></span>
                                <span class="ml-4" v-html="htmlText"></span>
                            </div>
                        </template>
                    </vue-bootstrap-typeahead>
                </div>
            </div>
            <div class="col">
                <div 
                    id="tcplugin-destination" 
                    class="form-group"
                >
                    <label>Destination</label>
                    <vue-bootstrap-typeahead
                        ref="destinationfield"
                        v-model="destination"
                        :inputClass="errors.destination? 'is-invalid' : ''"
                        :data="destinationlocations"
                        :serializer="item => item.string"
                        @hit="selectedLocation = $event"
                        placeholder="Destination postcode or place name"
                    >
                        <template 
                            slot="suggestion" 
                            slot-scope="{ data, htmlText }"
                        >
                            <div class="d-flex align-items-center">
                                <span v-if="data.type=='station'"><font-awesome-icon icon="train" /></span>
                                <span v-else-if="data.type=='airport'"><font-awesome-icon icon="plane" /></span>
                                <span v-else><font-awesome-icon icon="map-marker-alt" /></span>
                                <span class="ml-4" v-html="htmlText"></span>
                            </div>
                        </template>
                    </vue-bootstrap-typeahead>
                </div>
            </div>

        </div>

        <div class="row">
            <div 
                id="tcplugin-via" 
                class="col"
            >
                <label>(Optional) Via</label>
                <vue-bootstrap-typeahead
                    ref="viafield"
                    v-model="via"
                    :inputClass="errors.via? 'is-invalid' : ''"
                    :data="vialocations"
                    :serializer="item => item.string"
                    @hit="selectedLocation = $event"
                    placeholder="Via postcode or place name"
                >
                    <template 
                        slot="suggestion" 
                        slot-scope="{ data, htmlText }"
                    >
                        <div class="d-flex align-items-center">
                            <span v-if="data.type=='station'"><font-awesome-icon icon="train" /></span>
                            <span v-else-if="data.type=='airport'"><font-awesome-icon icon="plane" /></span>
                            <span v-else><font-awesome-icon icon="map-marker-alt" /></span>
                            <span class="ml-4" v-html="htmlText"></span>
                        </div>
                    </template>
                </vue-bootstrap-typeahead>
            </div>
            <div 
                id="tcplugin-people" 
                class="col"
            >
                <div class="form-group">
                    <label>Number of People</label>
                    <input 
                        v-model="people" 
                        :class=" errors.people ? 'is-invalid' : ''" 
                        type="number" 
                        min="1"
                        max="99"
                        class="form-control" 
                        placeholder="People"
                    >
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div 
                    id="tcplugin-date" 
                    class="form-group"
                >
                    <label>Date</label>
                    <b-form-datepicker 
                        v-model="date" 
                        :state="errors.date" 
                        locale="en" 
                        class="form-control"
                    ></b-form-datepicker>
                </div>
            </div>
            <div class="col">
                <div 
                    id="tcplugin-time" 
                    class="form-group"
                >
                    <label>Time</label>
                    <b-form-timepicker 
                        v-model="time" 
                        :state="errors.time" 
                        locale="en"
                    ></b-form-timepicker>
                </div>
            </div>
        </div>

        <div v-if="journey_type=='Return'"
            class="row"
        >
            <div 
                id="tcplugin-return-date" 
                class="col"
            >
                <div class="form-group">
                    <label>Return Date</label>
                    <b-form-datepicker 
                        v-model="return_date" 
                        :state="errors.return_date" 
                        locale="en" 
                        class="form-control"
                    ></b-form-datepicker>
                </div>
            </div>
            <div class="col">
                <div 
                    id="tcplugin-return-time" 
                    class="form-group"
                >
                    <label>Return Time</label>
                    <b-form-timepicker 
                        v-model="return_time" 
                        :state="errors.return_time" 
                        locale="en"
                    ></b-form-timepicker>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col"></div>
            <div 
                id="tcplugin-search-submit" 
                class="col"
            >
                <div class="form-group">
                    <button 
                        @click="onSearchQuotesFormSubmit"
                        class="form-control btn btn-primary"
                    >
                        <div v-if="loadingQuotes" class="spinner-border spinner-border-sm"></div>
                        Search
                    </button>
                    <label></label>
                    <input 
                        @click="onSearchQuotesFormSubmit" 
                        type="button" 
                        class="form-control" 
                        value="Search"
                    >
                </div>
            </div>
        </div>
    </form>
    
    <BIQ-SearchResults v-if="loadingQuotes || quotesLoaded" 
        :quote_type="appSettings.quote_type"
        :debugging="debugging"
    >
        <template #loading-quotes>Generating Quotes...</template>
        <template #zero-quotes>{{loading_quotes_error}}</template>
    </BIQ-SearchResults>
</div>
