/** import the theme constucts */
/** import the BIQ theme constucts */
/*
 * BIQ colour theme
 */
/*
 * Beginning of the theme specific overwrite variable settings 
 */
/* Main app container div */
#biq-vue-app {
  width: 100%;
  /* Checkout page container div */
}
#biq-vue-app #biq-checkout-page {
  width: 75%;
  margin: 0 auto;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container {
  width: 100%;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form .row-col {
  gap: 0.2em;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-passenger-details-form-section {
  width: 100%;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-passenger-details-form-section #biq-passenger-details-form-heading {
  display: flex;
  width: 100%;
  background: #e4733d;
  color: #fae4da !important;
  padding: 0.75rem 1.25rem;
  font-size: 24px;
  border-radius: 6px 6px 0px 0px !important;
  margin-top: 24px !important;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-passenger-details-form-section #biq-passenger-details-form-heading h4 {
  margin-bottom: 0px !important;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-passenger-details-form-section #biq-passenger-name,
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-passenger-details-form-section #biq-passenger-email,
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-passenger-details-form-section #biq-passenger-telephone,
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-passenger-details-form-section #biq-passenger-flight-number {
  flex: 1 1 auto;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-payment-details-form-section {
  width: 100%;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-payment-details-form-section button.btn-primary {
  border-radius: 0.25rem;
  background: #e4733d !important;
  color: #fae4da !important;
  width: 100%;
  border: none !important;
  line-height: 1.5 !important;
  padding: 12px 0px 12px 0px;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-payment-details-form-section #biq-payment-form-heading {
  display: flex;
  width: 100%;
  background: #e4733d;
  color: #fae4da !important;
  padding: 0.75rem 1.25rem;
  font-size: 24px;
  border-radius: 6px 6px 0px 0px !important;
  margin-top: 24px !important;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-payment-details-form-section #biq-payment-form-heading h4 {
  margin-bottom: 0px !important;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-payment-details-form-section #biq-paypal-plugin {
  width: 100%;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-payment-details-form-section #biq-cardholder-details {
  width: 100%;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-payment-details-form-section #biq-stripe-card-details {
  width: 100%;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-checkout-form #biq-payment-details-form-section #biq-stripe-card-details .stripe-card-container {
  padding: 8px !important;
  max-width: 290px;
  min-width: 250px;
}
#biq-vue-app #biq-checkout-page #biq-checkout-form-container #biq-payment-error {
  width: 100%;
}
#biq-vue-app #biq-checkout-page #biq-checkout-booking-details .card-header {
  width: 100%;
  background: #e4733d;
  color: #fae4da !important;
  padding: 0.75rem 1.25rem;
  font-size: 24px;
  border-radius: 6px 6px 0px 0px !important;
  margin-top: 24px !important;
}

