#biq-checkout-page {
    margin: 0 auto;
}

#biq-checkout-form 
#biq-checkout-form-container,
#biq-passenger-details-form-section,
#biq-payment-details-form-section {
    width: 100%;
}

#biq-checkout-form .stripe-card-container {
    padding: 8px !important;
    max-width: 290px;
    min-width: 250px;
}

#biq-stripe-card-details,
#biq-paypal-plugin,
#biq-payment-error {
    width: 100%;
}
