/*
 * Beginning of the BIQ search compact form layout specific global theme settings 
 */ 
 #biq-search-form.biq-layout-compact {
    border : 3px solid #e4733d;
    border-radius : 8px;
    background : #e4733d;
}

#biq-search-form.biq-layout-compact input[type="text"] {
    border-top : none;
    border-bottom : none;
}
#biq-search-form.biq-layout-compact select,
#biq-search-form.biq-layout-compact input[type="number"] {
    border : none;
}
/*
* End of the compact search form layout global overrinding styles
*/ 
/*
 * Beginning of the BIQ search compact form layout specific theme settings 
 */ 
#biq-search-form.biq-layout-compact select.biq-journey {
    width : auto;
    border-right : none;
}
#biq-search-form.biq-layout-compact .biq-pickup,
#biq-search-form.biq-layout-compact .biq-destination {
    width : auto;
}
#biq-search-form.biq-layout-compact .biq-via {
    width : auto;
}
#biq-search-form.biq-layout-compact .biq-journey-date,
#biq-search-form.biq-layout-compact .biq-journey-time {
    width : auto;
}
#biq-search-form.biq-layout-compact input.biq-people {
    width : auto;
    border-left : none;
}
/*
* End of the compact search form layout overrinding styles
*/ 
